html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------------------------------------------------- */








                                                 /* Berantakan */










/* ------------------------------------------------------------------------------- */
body{
	background: url(./bg.png);
	background-repeat: initial;
	background-attachment: fixed;
	/* background-color: #141418; */
}


@media only screen and (max-width: 1000px) {
	div.sideBox{
		display: none;
	}
	h1.headerH1{
		font-size: 60px;
	}

	/*top Bar*/
	div.topBar{
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 2;
		background-color: #20202c;
		height: 76px;
		font-size: 30px;
	}
	div.topBar div.dyz{
		float: left;
		margin: 22px 0px 22px 30px;
	}
	div.topBar div.dyz a{
		color: #a0a8bd;
		text-decoration: none;
	}
	
	nav.nav-topBar ul li a{
		display: none;
	}
	nav.nav-topBar ul li a:hover{
		color: rgb(0,255,0);
		background-color: #141418;
	}
	
	
	/*navigasi kedua*/
	.navigasiAtas a{
		font-size: 18px;
		margin: 0px 10px 0px 0px;
		text-decoration: none;
		color: #a0a8bd;
		border-radius: 18%;
		padding: 12px 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		cursor: pointer;
	}
	
	.navigasiAtas a:hover{
		color: rgb(0,255,0);
		background-color: #141418;
	}
	
	.ribbon{
		display: none;
	}
	
	.isikonten{
		background-color: #20202c;

	}
	.gambarroom{
		height: 500px;
		width: 100%;
		object-fit: cover;
	}
	
	main article cite.penulis{
		font-size: 14px;
	}
	main article cite.penulis a.dyz{
		color: rgb(0,255,0);
		text-decoration: none;
	}
	
	main div.konten{
		margin: 0px 20px 0px 20px ;
		color: #a0a8bd;
	}
	
	div.konten h3.judulkonten{ /*judul */
		color: #d2d9eb;
		margin-bottom: 10px;
		font-size: 40px;
		font-weight: bold;
		font-family: 'Times New Roman', Times, serif;
	}
	
	main article div.judulartikel_1{
		margin-bottom: 30px;
	}
	main div.isi p{
		text-align: justify;
		margin: 10px 20px 20px 0px;
		font-size: 17px;
		font-family: 'Times New Roman', Times, serif;
	}
	
	footer{
		text-align: center;
		color: #d2d9eb;
		height: 40px;
		background-color:black;
		padding: 20px 0px 0px 0px;
		margin-bottom: 60px;
	}
	
	
	/* sidebar (kanan) */
	
	div.clear{
		clear: right;
	}
	div.isikonten div.sisiSamping {
		font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		height: 100px;
		font-size: 15px;
		width: 440px;
		height: 100%;
		margin: auto;
	}
	img.profileKucing{
		display: none;
	}
	
	/* galeri */
	div.judul-galeri{
		color: rgb(0,255,0);
		width: 232px;
		/* margin-right: 20px; */
		text-align: center;
		margin-top: 100px;
		margin-bottom: 20px;
		margin-left: 46px;
	}
	div.galeri{
		width: 100px;
		height: 100%;
		margin-right: 10px;
		margin-bottom: 400px;
	}
	img.galeri-gambar{
		width:  90px;
		height: 70px;

		margin-right: 25px;
		margin-bottom: 10px;
		border-radius: 20%;
		object-fit: cover;
	}
  
}

@media only screen and (min-width: 1000px) {
	header{
		color:#a0a8bd;
		background-color: #20202c;
		padding: 20px;
		
	}
	h1.headerH1{
		font-size: 60px;
		margin-bottom: 30px;
		margin-right: 80px; /*agar tidak tertutup oleh ribbon*/
	}
	div.topBar{
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 2;
		background-color: #20202c;
		height: 76px;
		font-size: 30px;
	}
	div.topBar div.dyz{
		float: left;
		margin: 22px 0px 22px 30px;
	}
	div.topBar div.dyz a{
		color: #a0a8bd;
		text-decoration: none;
	}
	
	nav.nav-topBar ul li a{
		padding: 23px 23px;
		font-size: 30px;
		float: right;
		list-style: none;
		margin: 0px 30px 0px 0px;
		text-decoration: none;
		color: #a0a8bd;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
	}
	nav.nav-topBar ul li a:hover{
		color: rgb(0,255,0);
		background-color: #141418;
	}
	
	
	/*navigasi kedua*/
	.navigasiAtas a{
		font-size: 18px;
		margin: 0px 10px 0px 0px;
		text-decoration: none;
		color: #a0a8bd;
		border-radius: 18%;
		padding: 12px 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		cursor: pointer;
	}
	
	.navigasiAtas a:hover{
		color: rgb(0,255,0);
		background-color: #141418;
	}
	
	
	.ribbon { /*ribbon css*/
		position: absolute;
		right: 145px; top: 120px;
		z-index: 1;
		overflow: hidden;
		width: 200px; height: 200px;
		text-align: right;
	  }
	  .ribbon a { /*ribbon css*/
		text-decoration: none;
		font-size: 30px;
		font-weight: bold;
		color: #FFF;
		text-align: center;
		line-height: 75px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		height: 70px;
		width: 220px;
		display: block;
		background: #79A70A;
		background: linear-gradient(#000000 0%, #242424 100%);
		box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
		position: absolute;
		top: 10px; right: -56px;
	  }
	  .ribbon a::before { /*ribbon css*/
		position: absolute; left: 0px; top: 100%;
		z-index: -1;
		border-left: 3px solid #242424;
		border-right: 3px solid transparent;
		border-bottom: 3px solid transparent;
		border-top: 3px solid #242424;
	  }
	  .ribbon a::after {/*ribbon css*/
		content: "";
		position: absolute; right: 0px; top: 100%;
		z-index: -1;
		border-left: 3px solid transparent;
		border-right: 3px solid #242424;
		border-bottom: 3px solid transparent;
		border-top: 3px solid #242424;
	  }
	
	
	.isikonten{
		margin: 120px 150px 0px 150px;
		background-color: #20202c;
	}
	.gambarroom{
		height: 500px;
		width: 100%;
		object-fit: cover;
	}
	
	main article{
		margin-right: 280px;
	}
	
	main article cite.penulis{
		font-size: 14px;
	}
	main article cite.penulis a.dyz{
		color: rgb(0,255,0);
		text-decoration: none;
	}
	
	main div.konten{
		margin: 19px 20px 40px 20px ;
		color: #a0a8bd;
	}
	
	div.konten h3.judulkonten{ /*judul */
		color: #d2d9eb;
		margin-bottom: 10px;
		font-size: 40px;
		font-weight: bold;
		font-family: 'Times New Roman', Times, serif;
	}
	
	main article div.judulartikel_1{
		margin-bottom: 30px;
	}
	main div.isi p{
		text-align: justify;
		margin: 10px 20px 20px 0px;
		font-size: 17px;
		font-family: 'Times New Roman', Times, serif;
	}
	
	footer{
		text-align: center;
		color: #d2d9eb;
		height: 40px;
		background-color:black;
		padding: 20px 0px 0px 0px;
		margin-bottom: 60px;
	}
	
	
	/* sidebar (kanan) */
	
	div.clear{
		clear: right;
	}
	div.isikonten div.sisiSamping {
		font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-size: 15px;
		float: right;
		width: 240px;
		height: 100%;
		margin-right: 10px;
	}
	img.profileKucing{
		float: left;
		width: 88px;
		margin-right: 12px;
		border-radius: 20%;
	}
	
	/* galeri */
	div.judul-galeri{
		color: rgb(0,255,0);
		width: 232px;
		/* margin-right: 20px; */
		margin-top: 100px;
		margin-bottom: 20px;
		clear:both;
		float: right;
		text-align: center;
	}
	div.galeri{
		clear: both;
		float: right;
		width: 250px;
		height: 100%;
		margin-right: 10px;
		margin-bottom: 100px;
	}
	img.galeri-gambar{
		float: left;
		width: 90px;
		height: 70px;
		margin-left: 25px;
		margin-bottom: 10px;
		border-radius: 20%;
		object-fit: cover;
	}
	/*top Bar*/
	div.topBar{
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 2;
		background-color: #20202c;
		height: 76px;
		font-size: 30px;
	}
	div.topBar div.dyz{
		float: left;
		margin: 22px 0px 22px 30px;
	}
	div.topBar div.dyz a{
		color: #a0a8bd;
		text-decoration: none;
	}
	
	nav.nav-topBar ul li a{
		padding: 23px 23px;
		font-size: 30px;
		float: right;
		list-style: none;
		margin: 0px 30px 0px 0px;
		text-decoration: none;
		color: #a0a8bd;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
	}
	nav.nav-topBar ul li a:hover{
		color: rgb(0,255,0);
		background-color: #141418;
	}
	
	
	/*navigasi kedua*/
	.navigasiAtas a{
		font-size: 18px;
		margin: 0px 10px 0px 0px;
		text-decoration: none;
		color: #a0a8bd;
		border-radius: 18%;
		padding: 12px 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		cursor: pointer;
	}
	
	.navigasiAtas a:hover{
		color: rgb(0,255,0);
		background-color: #141418;
	}
	
	
	.ribbon { /*ribbon css*/
		position: absolute;
		right: 145px; top: 120px;
		z-index: 1;
		overflow: hidden;
		width: 200px; height: 200px;
		text-align: right;
	  }
	  .ribbon a { /*ribbon css*/
		text-decoration: none;
		font-size: 30px;
		font-weight: bold;
		color: #FFF;
		text-align: center;
		line-height: 75px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		height: 70px;
		width: 220px;
		display: block;
		background: #79A70A;
		background: linear-gradient(#000000 0%, #242424 100%);
		box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
		position: absolute;
		top: 10px; right: -56px;
	  }
	  .ribbon a::before { /*ribbon css*/
		position: absolute; left: 0px; top: 100%;
		z-index: -1;
		border-left: 3px solid #242424;
		border-right: 3px solid transparent;
		border-bottom: 3px solid transparent;
		border-top: 3px solid #242424;
	  }
	  .ribbon a::after {/*ribbon css*/
		content: "";
		position: absolute; right: 0px; top: 100%;
		z-index: -1;
		border-left: 3px solid transparent;
		border-right: 3px solid #242424;
		border-bottom: 3px solid transparent;
		border-top: 3px solid #242424;
	  }
	
	
	.isikonten{
		margin: 120px 150px 0px 150px;
		background-color: #20202c;
	}
	.gambarroom{
		height: 500px;
		width: 100%;
		object-fit: cover;
	}
	
	main article{
		margin-right: 280px;
	}
	
	main article cite.penulis{
		font-size: 14px;
	}
	main article cite.penulis a.dyz{
		color: rgb(0,255,0);
		text-decoration: none;
	}
	
	main div.konten{
		margin: 19px 20px 40px 20px ;
		color: #a0a8bd;
	}
	
	div.konten h3.judulkonten{ /*judul */
		color: #d2d9eb;
		margin-bottom: 10px;
		font-size: 40px;
		font-weight: bold;
		font-family: 'Times New Roman', Times, serif;
	}
	
	main article div.judulartikel_1{
		margin-bottom: 30px;
	}
	main div.isi p{
		text-align: justify;
		margin: 10px 20px 20px 0px;
		font-size: 17px;
		font-family: 'Times New Roman', Times, serif;
	}
	
	footer{
		text-align: center;
		color: #d2d9eb;
		height: 40px;
		background-color:black;
		padding: 20px 0px 0px 0px;
		margin-bottom: 60px;
	}
	
	
	/* sidebar (kanan) */
	div.clear{
		clear: right;
	}
	div.sideBox{
		float: right;
		width: 250px;
		height: 240px;
	}
	div.isikonten div.sisiSamping {
		font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-size: 15px;
		float: right;
		width: 240px;
		height: 100%;
		margin-right: 10px;
	}
	img.profileKucing{
		float: left;
		width: 88px;
		margin-right: 12px;
		border-radius: 20%;
	}
	
	/* galeri */
	div.judul-galeri{
		color: rgb(0,255,0);
		width: 232px;
		/* margin-right: 20px; */
		margin-top: 100px;
		margin-bottom: 20px;
		clear:both;
		float: right;
		text-align: center;
	}
	div.galeri{
		clear: both;
		float: right;
		width: 250px;
		height: 100%;
		margin-right: 10px;
		margin-bottom: 100px;
	}
	img.galeri-gambar{
		float: left;
		width: 90px;
		height: 70px;
		margin-left: 25px;
		margin-bottom: 10px;
		border-radius: 20%;
		object-fit: cover;
	}

}