:root {
    font-size: 16px;
    font-family: Helvetica;
    --text-primary: #b6b6b6;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }
  body {
    color: #a0a8bd;
    background-color: black;
    margin: 0;
    padding: 0;
  }
  div.idk_block {
    overflow: auto;
    text-align: center;
    width: 40%;
    margin: 100px auto 0px auto;
    padding: 20px;
    font-size: 20px;
    color: #a0a8bd;
    background: #20202c;
    border-radius: 20px;
  }

  .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 960ms ease;
    border-radius: 23px;
    overflow: hidden;
  }
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .nav-item {
    width: 100%;
  }
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: rgb(0, 255, 0);
    border-radius: 23px;
  }
  i.navhome {
    font-size: 40px;
    margin-left: 20px;
  }
  i.navabout {
    font-size: 40px;
    margin-left: 24px;
    margin-right: 5px;
  }
  i.navat {
    font-size: 38px;
    margin-left: 22px;
  }
  .link-text {
    font-family: sans-serif;
    font-size: 18px;
    display: none;
    margin-left: 4rem;
    margin-right: 7rem;
    cursor: pointer;
  }
  .fa-primary {
    color: rgb(0, 255, 0);
  }
  .fa-primary{
    transition: var(--transition-speed);
  }
  
  /* jika screennya kecil */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }

    div.idk_block {
      align-content: center;
      text-align: center;
      width: 60%;
      margin: 100px auto 0px auto;
      padding: 30px;
      font-size: 24px;
      color: #a0a8bd;
      background: #20202c;
      border-radius: 27px;
    }

    i.navhome {
      font-size: 40px;
      margin-left: auto;
      margin-right: auto;
    }
    i.navabout {
        font-size: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    i.navat {
        font-size: 38px;
        margin-left: auto;
        margin-right: auto;
    }
  
  }
  
  /* jika screennya besar */
  @media only screen and (min-width: 600px) {
    .navbar {
      margin: 40px 40px;
      top: 0;
      width: 5rem;
      height: 26,5vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  }
